@model Exerise_MySQL.Models.Account

<br/>
<form method="post" asp-controller="Account" asp-action = "Create">
    <div class="input-group">
        <input asp-for ="Name" type="text" class="form-control"/>
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>

</form>